@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');

@layer base {
  form input,
  textarea {
    @apply border bg-transparent p-2;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #12232e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #12232e;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #12232e;
  border-radius: 14px;
  border: 2px solid #eefbfb;
}
