@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #12232e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #12232e;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #12232e;
  border-radius: 14px;
  border: 2px solid #eefbfb;
}
